/* Base Styles */
* {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a:link, a:active, a:visited {
  text-decoration: none;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  height: 100%;
  color: #666666;
  font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
  font-size: 1em;
  width:100%;
  margin:0 auto;
}

/* Header Section */
header {
  background: royalblue;
  padding-top: 10px;
}

.logo {
  padding-top: 20px;
  padding-left: 14px;
  font-size: 2.2em;
  font-weight: 900;
  color: white;
}

/* Navigation Menu */
header nav {
  float: left;
  padding-top: 15px;
}

header nav ul {
  padding: 12px 0;
}

header nav ul > li {
  float: left;
  background: linear-gradient(lightskyblue, lightskyblue);
  height: 40px;

}

header nav ul > li > a {
  display:block;
  color:#fff;
  width:160px;
  text-align: center;
  font-size:14px;
  text-transform:uppercase;
  padding:12px 0;
  text-decoration:none;
}

header nav ul > li:hover, nav ul > li.active {
  background: linear-gradient(dodgerblue,dodgerblue);
}
header nav ul > li:hover > a {
  color:floralwhite;
}

/* Login Section */
#login {
  float: right;
  padding: 30px 0px 15px;
  width:420px;
}

#login label[for="username"], #login label[for="pw"] {
  color:#fff;
  float:left;
  padding:6px 12px 0px 7px;
  font-size: 11px;
}

#login form input[type="text"], #login form input[type="password"] {
  float:left;
  height:18px;
  width:110px;
  border: 1px solid darkblue;
  border-radius: 4px;
  margin-top: 2px;
  font-size: 11px;
}

#login form input[type="text"]:focus, #login form input[type="password"]:focus {
  outline: none;
}


#login form input[type="submit"] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: -10px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#login form input[type="submit"] {
  background-color: white;
  color: black;
  border: 2px solid royalblue;
}

#login form input[type="submit"]:hover {
  background-color: #4CAF50;
  color: white;
}

/* Main Section */

main {
  background-color: #FFFFFF;
  padding: 10px 18px;
}

#pageTitle {
  margin: 12px 0;
}

#pageTitle h1 {
  font-size: 1.3em;
  font-weight: normal;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button {
  background-color: #008CBA;
  color: white;
  border: 2px solid white;
}

/* Footer Section */
footer {
  padding:20px 40px;
  text-align:right;
  font-size:11px;
  background-color:#d4d4d4;
}

footer a{
  text-decoration:none;
  color:#5E5956;
}

footer #privacy {
  float:right;
}